body{
    background-color: rgb(32, 142, 166);
}
#profile{
  font-weight: 50;
  font-size: 30px;
  color: rgb(0, 255, 255);
  border: 30px solid rgb(37, 37, 191);
  border-radius: 15px;
}
img{
    width: 400px;
}
#streak{
    font-weight: 20;
    font-size: 40px;
    color: rgb(0, 238, 255);
    border: 30px solid rgb(191, 37, 96);
    border-radius: 15px;
}