#id{
    text-align: center;
    font-size: 60px;
    color: rgb(35, 72, 70);
}
body{
    background-color: rgb(54, 105, 177);
    text-align: center;
}
#man{
    text-align: center;
    color: rgb(150, 16, 16);

}
#SIGN{
    border: solid;
    width: 300px;
    height: 190px;
    border-radius: 70px;
    align-items: center;
}
#goa{
    margin:auto;
}