*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 0, 0);
    transition: 2s;
}
div:hover{
    background-color: black;
    transform: scale(2) translate(-50px, 100px) rotate(-180);
}