*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: navy;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    width: 100px;
    height: 100px;
    background-color: seagreen;
    animation: box infinite;
}
    @keyframes box {
      0% {
        width: 100px;
        height: 100px;
        background-color: green;
      }
      50% {
        width: 150px;
        height: 150px;
        background-color: yellow;
      }
      100% {
        width: 200px;
        height: 200px;
        background-color: red;
      }
}