*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(60, 90, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#mainDiv{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
    transition: 1.50s;
}
#div{
    width: 100px;
    height: 100px;
    background-color: #000;
    position: absolute;
    top: 42%;
    left: 47%;
}
#mainDiv:hover{
    transition: 1.50s;
    
}