body{
    background-color: rgb(88, 163, 13);
}
#Italia{
    text-align: center;
    font-size: 70px;

}
#id{
    border: solid;
    color: rgb(0, 0, 0);
}
#alex{
    border: solid 6px;

}
#itallly{
    text-align: center;
    font-size: 70px;
}
#tele{
    font-size: 40px;
    border: solid 7px;
}