@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    background-color: #58a671;
}
#id{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#sand{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form:hover{
    color:rgb(171, 6, 6);
}
form:active{
    color: rgb(80, 0, 0);
}
form{
    border: solid;
    border-radius: 60px;
}
